section.video {
    padding: 0;

    .top {
        .container {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 3rem 1.5rem;
            color: $white;
            
            .heading2{
                margin-bottom: 3rem;
            }
            @media screen and (min-width: 960px) {
                padding: 3rem 6rem;
                
                p{
                    text-align: center;
                }
            }
        }
    }

    .bottom {
        background-color: $black;
        padding: 3rem 1.5rem;
        
        @media screen and (min-width: 960px) {
            display: flex;
            position: relative;
            padding: unset;
            background-color: $black;
        }

        article.left {
            color: $white; 
            @media screen and (min-width: 960px){
                width: 40%;
                padding: 3em 6em;
            }
        }

        .right {
            min-height: 400px;
            @media screen and (min-width: 960px) {
                width: 60%;
                position: absolute;
                left: 40%;
                top: 0;
                height: 100%;
            }
        }
    }
}
